<div class="row header-row justify-content-between">
  <div class="col col-lg-4 col-md-4 col-sm-4 px-4 py-1">
    <img src="./assets/who-logo.png" class="app-icon">
    <p class="app-text px-2">{{ title }}</p>
  </div>
  <div class="col col-lg-4 col-md-4 col-sm-4 text-right px-4 py-1">
    <a (click)="goToHome()" class="app-text pt-2">Home</a>
    <i class="material-icons home-icon pr-4 pl-1">home</i>
  </div>
</div>
<div class="row">
  <div class="col col-lg-2 col-md-2 col-sm-2">
    <app-leftbar></app-leftbar>
  </div>
  <div class="col col-lg-10 col-md-10 col-sm-10">
    <app-date-filter></app-date-filter>
    <router-outlet></router-outlet>
  </div>
</div>