mat-button-toggle {
    height: 35px;
    font-size: 14px;
    font-style: bold;
    width:80px;
}

.mat-button-toggle-disabled {
    background-color: #e1dde5;
}

div.center-text {
    margin-left: -8px;
    margin-top: -3px;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 35px !important;
}

.lists-table thead {
    background-color: rgb(63, 123, 168) !important;
}

.lists-table thead tr th {
    color: white;
}

a.eventId, a.eventId:hover {
    cursor: pointer;
    text-decoration: underline;
    color: black;
}